<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Buy and sell here</title>
    <meta name="description" content="Online selling portal">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/home.css">
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/header.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  </head>

  <body>
    <% include templates/header %>
    <script src="http://localhost:3000/scripts/home.js"></script>
    <script src="http://localhost:3000/scripts/header.js"></script>
  </body>

</html>