<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Buy and sell here</title>
    <meta name="description" content="Online selling portal">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/signup.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  </head>

  <body>
    <h2>Sign Up</h2>
    <br>
    <form>
      <table>
        <tr>
          <td><input type="text" name="name" placeholder="Name" maxlength="50"></td>
          <td><p class="onhover-info"  id="name-alert"></p></td>
        </tr>
        <tr>
          <td><input type="text" name="username" placeholder="Username" maxlength="50"></td>
          <td><p class="onhover-info" id="username-alert"></p></td>
        </tr>
        <tr>
          <td><input type="password" name="password" placeholder="Password" maxlength="20" id="password-field"></td>
          <td><p class="onhover-info" id="password-alert"></p></td>
        </tr>
        <tr>
          <td><input type="number" name="phone" placeholder="Phone" maxlength="10"></td>
          <td><p class="onhover-info" id="phone-alert"></p></td>
        </tr>
      </table>
      <br>
      <button type="button" id="create-account-button">Create Account</button>
      <p id="request-status">Submitting..</p>
    </form>
    <script src="http://localhost:3000/scripts/signup.js"></script>
  </body>

</html>