body {
  width: 1080px;
  margin: auto;
}

input {
  width: 170px;
  border: 1px solid black;
  padding: 8px;
  border-radius: 2px;
}

tr {
  height: 80px;
}

td {
  text-align: right;
  padding-left: 4px;
}

label {
  font-family: 'Roboto';
}

p {
  font-family: 'Roboto';
}

h2 {
  font-family: 'Roboto';
  text-align: center;
}

.onhover-info {
  opacity: 0;
  transition: opacity 0.2s ease-in 0s;
  background-color:  #00b300;
  color: white;
  width: 300px;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 8px 8px 8px 8px;
  margin-left: 4px;
  border-radius: 4px;
  text-align: left;
}

#request-status {
  visibility: hidden;
  background-color: #ff001b;
  padding: 8px;
  font-size: 14px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  margin-left: 8px;
}

#hr {
  margin-top: 80px;
  height: 1px;
  z-index: 0;
  background-color: black;
}

#update-button {
  border: 1px solid #005ce6;
  background-color: #005ce6;
  padding: 8px;
  border-radius: 2px;
  color: white;
  transition: box-shadow 0.2s ease-in 0s;
  margin-left: 480px;
  display: inline-block;
  cursor: pointer;
}

#account-details-form {
  margin-left: 380px;
}

input[name=username] {
  color:gray;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}