html {
  height: 100%;
  background-image: url("http://localhost:3000/images/hbg.jpg");
  background-repeat: repeat repeat;
}

body {
	max-width: 1080px;
  margin: auto;
  margin-top: 14%;
  margin-left: 17%;
  position: relative;
}

#left-section {
  float: left;
  width: 480px;
}

#left-section h2 {
  font-family: 'Roboto';
  line-height: 40px;
  color: black;
  text-shadow: 1px 1px 4px white;
  font-size: 35px;
  margin-top: 100px;
}

#right-section {
	border-left: 1px solid black;
  width: 500px;
  float: left;
  position: relative;
  padding-left: 40px;
}

.onhover-info {
  opacity: 0;
  transition: opacity 0.2s ease-in 0s;
  background-color:  #005ce6;
  color: white;
  width: 300px;
  font-size: 14px;
  padding: 8px;
  margin-left: 4px;
  border-radius: 4px;
}

input {
  width: 170px;
  border: 1px solid #c2c6c4;;
  padding: 8px;
  border-radius: 2px;
}

#clearfix {
  clear: both;
}

button {
  border: 1px solid #00b300;
  background-color: #00b300;
  padding: 8px;
  border-radius: 2px;
  color: white;
  width: 80px;
  margin-left: 4px;
  transition: box-shadow 0.2s ease-in 0s;
  cursor: pointer;
}

tr {
  height: 80px;
}

p {
  font-family: 'Roboto';
}

#request-status {
  visibility: hidden;
  background-color: #ff001b;
  padding: 8px;
  font-size: 14px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  margin-left: 8px;
}